.img-thumbnail {
    margin: 10px;
    width: 300px;
    height: 300px;
}

.card {
    width: 350px;
    margin-right: 5%;
}

.card-footer {
    padding: 0 25px 15px;
    background-color:#fff;
    border-top: none;
}
